games show page for GAME #<%= @game.id %>

<div class="gameboard">

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

	<div class="box">
	</div>

</div>


<p><%= link_to "Back to the Dashboard", root_url %><p>