games show page for GAME #<%= @game.id %>
<p><%= link_to "Back to the Dashboard", root_url %><p>

<div class="gameboard">

	<div class="box" id="1">
	</div>

	<div class="box" id="2">
	</div>

	<div class="box" id="3">
	</div>

	<div class="box" id="4">
	</div>

	<div class="box" id="5">
	</div>

	<div class="box" id="6">
	</div>

	<div class="box" id="7">
	</div>

	<div class="box" id="8">
	</div>

	<div class="box" id="9">
	</div>

</div>


<p><%= link_to "Back to the Dashboard", root_url %><p>